# File: (Repo Frontend)/.github/workflows/frontend-ci.yml
name: 2. FRONTEND APP SERVICE FLOW

on:
  push:
    branches:
      - main 

env:
  DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASS: ${{ secrets.DOCKER_PASSWORD }}
  
jobs:
  build-and-push-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USER }}
          password: ${{ env.DOCKER_PASS }}

      - name: Build and Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./ # KONTEKS BARU: Ambil dari root repo frontend
          push: true
          tags: ${{ env.DOCKER_USER }}/todo-web-app-devops:frontend-latest
          build-args: |
            VITE_API_URL=http://localhost:4000